h1 {
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
  color: #2a2c2f;

  font-family: "Helvetica";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -60px;
  position: relative;
}

#mobile-app {
  border: 1px solid white;
  max-width: 545px;
  text-align: center;
  padding: 10px 40px;
}

#rosie-dm-safety-page {
  border: 1px solid white;
  max-width: 545px;
  text-align: center;
  padding: 10px 40px;
  background: linear-gradient(180deg, #4e5fd2 0%, #28316c 100%);
}

border {
  margin: 50px;
}

.status-icons {
  display: inline;
  padding-left: 90px;
}

.time {
  display: inline;
  padding-right: 90px;
}

#header {
  display: flex;
  justify-content: space-between;
}

.profile-box {
  background: #4e5fd2;

  border-radius: 20px;
  margin-top: 10px;
  padding: 30px;
  margin-bottom: 50px;
  color: white;
  /*width: 332px;
  height: 229px;*/
  position: relative;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  height: 60px !important;
  width: 60px;
  aspect-ratio: 60/60;
  border: 2px solid white;
  border-radius: 50px;
}

.instagram-icon {
  position: absolute;
  bottom: 85%;
  left: 90%;
}

.account-safety-info {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.circle {
  position: relative;
}

.safety-column-one {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 10px;
}

.safety-column-two {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
}

.second-safety-column-two {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 10px;
  padding-right: 38px;
  padding-left: 38px;
}
.safe {
  color: #0bcd07;
  padding-top: 5px;
  font-size: 16px;
}

.alert-vector {
  display: flex;
  margin-bottom: -18px;
  margin-left: 48px;
}

.alert-number {
  font-size: 32px;
  color: #e01f1f;
  margin-bottom: -5px;
}

.alert-word {
  font-size: 16px;
  color: #e01f1f;
  padding-top: none;
}

.percentage-number {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.dash-box {
  display: flex;
  flex-direction: column;
}

.profile-main {
  position: relative;
}

.alert-number {
  text-align: center;
}

.alert-word {
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: -5px;
}

.user-full-name {
  font: 16px;
  font-weight: bold;
}

.user-name {
  font-size: 12px;
  margin-left: -22px;
}

.follower-count {
  font-size: 12px;
  margin-left: -22px;
}

.user-full-name-two {
  font: 16px;
  font-weight: bold;
  margin-left: -10px;
}

.user-name-two {
  font-size: 12px;
  margin-left: -50px;
}

.follower-count-two {
  font-size: 12px;
  margin-left: -40px;
}

.alert {
  color: #f20808;
  position: absolute;
  top: -20px;
  right: 30%;
}

.profile-two-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: -3px;
}

.dash-box {
  text-decoration: none;
}

.notification-alert {
  color: red;
  position: relative;
  right: 55%;
  bottom: -35px;
}

.top-notification {
  background: #f8e4e0;
  padding: 25px 60px 25px 60px;
  margin-bottom: 28px;
}

.notification-message {
  text-align: left;
  padding-left: 10px;
  font-weight: 300;
}

.navbar-brand {
  font-size: 32px !important;
}

.navbar {
  margin-bottom: 10px;
  max-width: 545px;
}

.account-icon-link {
  color: lightblue;
}

.resources-link {
  color: lightblue;
}

.learn-more {
  color: black;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.active-link {
  color: #4e5fd2;
}

.home-label {
  margin-left: -1px;
}

.account-label {
  margin-right: -5px;
}

.resources-label {
  margin-left: -12px;
}

.footer-labels {
  display: flex;
  justify-content: space-around;
}

.footer-menu {
  border: 1px solid rgba(159, 156, 156, 0.5);
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0ch;
  box-shadow: 0px 0px 10px 0px rgba(128, 134, 138, 0.3);
  padding-top: 15px;
  margin: none;
  color: #80868a;
  font-weight: 400px;
  font-size: 12px;
}

.expand-link {
  margin-top: 10px;
}

@media (max-width: 430px) {
  .instagram-icon {
    position: absolute;
    bottom: 85%;
    left: 85%;
  }
}

#profile-box {
  color: white;
  text-decoration: none;
}

#profile-box:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.rosie-profile-info {
  text-align: left;
  color: white;
}

.page-instagram-icon {
  color: white;
}
