h1 {
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
  color: #2a2c2f;

  font-family: "Helvetica";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -60px;
  position: relative;
}

body {
  /*padding: 0 40px;*/
  text-align: center;
}

#mobile-app {
  border: 1px solid black;
  max-width: 545px;
  text-align: center;
  padding: 10px 40px;
}

border {
  margin: 50px;
}

.status-icons {
  display: inline;
  padding-left: 90px;
}

.time {
  display: inline;
  padding-right: 90px;
}

#header {
  display: flex;
  justify-content: space-between;
}

.profile-box {
  background: linear-gradient(115deg, #1d3036 17.87%, #42afd2 97.55%);

  border-radius: 20px;
  margin-top: 10px;
  padding: 30px;
  margin-bottom: 50px;
  color: white;
  /*width: 332px;
  height: 229px;*/
  position: relative;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  height: 60px !important;
  width: 60px;
  aspect-ratio: 60/60;
  border: 2px solid white;
  border-radius: 50px;
}

.instagram-icon {
  position: absolute;
  bottom: 85%;
  left: 90%;
  /*display: flex;
  margin-top: -185px;
  margin-left: 275px;*/
}

.percentages {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.circle {
  position: relative;
}

.percentage-number {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.dash-box {
  display: flex;
  flex-direction: column;
}

.profile-main {
  position: relative;
}

.alert {
  color: #f20808;
  position: absolute;
  top: -20px;
  right: 30%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-top: -20px;
}

.notification-alert {
  color: red;
  position: absolute;
  right: 89%;
  bottom: 79%;
}

.top-notification {
  background: #f8e4e0;
  padding: 25px 60px 25px 60px;
  margin-bottom: 28px;
}

.notification-message {
  text-align: left;
  padding-left: 10px;
}

.navbar-brand {
  font-size: 32px !important;
}

.navbar {
  margin-bottom: 10px;
}
