h1 {
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
  color: #2a2c2f;

  font-family: "Helvetica";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -60px;
  position: relative;
}

#mobile-app {
  border: 1px solid white;
  max-width: 545px;
  text-align: center;
  padding: 10px 40px;
}

#rosie-dm-safety-page {
  max-width: 545px;
  text-align: center;
  padding: 10px 40px;
}

#full-page {
  border: 1px solid white;
  background: linear-gradient(180deg, #4e5fd2 0%, #28316c 100%);
  max-width: 545px;
}

border {
  margin: 50px;
}

.status-icons {
  display: inline;
  padding-left: 90px;
}

.time {
  display: inline;
  padding-right: 90px;
}

#header {
  display: flex;
  justify-content: space-between;
}

.profile-box {
  background: #4e5fd2;

  border-radius: 20px;
  margin-top: 10px;
  padding: 30px;
  margin-bottom: 50px;
  color: white;
  /*width: 332px;
  height: 229px;*/
  position: relative;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  height: 60px !important;
  width: 60px;
  aspect-ratio: 60/60;
  border: 2px solid white;
  border-radius: 50px;
}

.rosie-profile-pic {
  height: 60px !important;
  width: 60px;
  aspect-ratio: 60/60;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
}

.instagram-icon {
  position: absolute;
  bottom: 85%;
  left: 90%;
}

.account-safety-info {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.circle {
  position: relative;
}

.safety-column-one {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 10px;
}

.safety-column-two {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
}

.second-safety-column-two {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 10px;
  padding-right: 38px;
  padding-left: 38px;
}

#safety-rating {
  background-color: white;
  margin-top: -7px;
  margin-bottom: 31px;
  padding-top: 10px;
  padding-bottom: none;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 85px;

  /*background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 130px;
  border-radius: 10px;*/
}

.safe {
  color: #0bcd07;
  padding-top: 5px;
  font-size: 16px;
}

.alert-vector {
  display: flex;
  margin-bottom: -18px;
  margin-left: 48px;
}

.page-alert-vector {
  display: flex;
  margin-bottom: -18px;
  margin-left: 60px;
  padding-top: 8px;
  padding-right: 28px;
}

.alert-number {
  font-size: 32px;
  color: #e01f1f;
  margin-bottom: -5px;
}

.alert-word {
  font-size: 16px;
  color: #e01f1f;
  padding-top: none;
  padding-bottom: 5px;
}

.percentage-number {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.dash-box {
  display: flex;
  flex-direction: column;
}

.profile-main {
  position: relative;
}

.alert-number {
  text-align: center;
}

.alert-word {
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: -5px;
}

.user-full-name {
  font: 16px;
  font-weight: bold;
}

.user-name {
  font-size: 12px;
  margin-left: -22px;
}

.follower-count {
  font-size: 12px;
  margin-left: -22px;
}

.user-full-name-two {
  font: 16px;
  font-weight: bold;
  margin-left: -10px;
}

.user-name-two {
  font-size: 12px;
  margin-left: -50px;
}

.follower-count-two {
  font-size: 12px;
  margin-left: -40px;
}

.alert {
  color: #f20808;
  position: absolute;
  top: -20px;
  right: 30%;
}

.profile-two-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: -3px;
}

.dash-box {
  text-decoration: none;
}

.notification-alert {
  color: red;
  position: relative;
  right: 55%;
  bottom: -35px;
}

.top-notification {
  background: #f8e4e0;
  padding: 25px 60px 25px 60px;
  margin-bottom: 28px;
}

.notification-message {
  text-align: left;
  padding-left: 10px;
  font-weight: 300;
}

.navbar-brand {
  font-size: 32px !important;
}

.navbar {
  margin-bottom: 10px;
  max-width: 545px;
}

.account-icon-link {
  color: lightblue;
}

.resources-link {
  color: lightblue;
}

.learn-more {
  color: black;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.active-link {
  color: #4e5fd2;
}

.non-active-link {
  color: #80868a;
}
.home-label {
  margin-left: -1px;
}

.account-label {
  margin-right: -5px;
}

.resources-label {
  margin-left: -12px;
}

.footer-labels {
  display: flex;
  justify-content: space-around;
}

.footer-menu {
  border: 1px solid rgba(159, 156, 156, 0.5);
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0ch;
  box-shadow: 0px 0px 10px 0px rgba(128, 134, 138, 0.3);
  padding-top: 15px;
  margin: none;
  color: #80868a;
  font-weight: 400px;
  font-size: 12px;
}

.footer-menu-rosie-page {
  border: 1px solid rgba(159, 156, 156, 0.5);
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0ch;
  box-shadow: 0px 0px 10px 0px rgba(128, 134, 138, 0.3);
  padding-top: 15px;
  margin: none;
  color: #80868a;
  font-weight: 400px;
  font-size: 12px;
  max-width: 545px;
  background: white;
  margin-top: 55px;
}

.expand-link {
  margin-top: 10px;
}

@media (max-width: 430px) {
  .instagram-icon {
    position: absolute;
    bottom: 85%;
    left: 85%;
  }
}

#profile-box {
  color: white;
  text-decoration: none;
}

#profile-box:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.rosie-profile-info {
  text-align: left;
  color: white;
  display: flex;
  margin-left: 80px;
  margin-top: -65px;
  margin-bottom: 32px;
}

.page-instagram-icon {
  color: white;
  display: flex;
  margin-top: 35px;
  margin-left: 185px;
}

.safety-title {
  text-align: left;
  color: white;
  font-weight: 450;
  font-size: 16px;
  margin-bottom: 6px;
}

.safety-sentence {
  text-align: left;
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.summary-title {
  font-size: 16px;
  font-weight: 450;
  color: white;
  margin-bottom: 6px;
  text-align: left;
}

.summary-paragraph {
  font-size: 13px;
  font-weight: 300;
  color: white;
  text-align: left;
}

.safety-parameters {
  text-decoration: none;
}

hr {
  background-color: white;
}

.parameter-details {
  text-align: left;
  margin-left: 53px;
  font-size: 11px;
  font-weight: 300;
}

.parameter-title {
  margin-bottom: 3px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 450;
  margin-left: 25px;
}

.parameter-alert {
  display: flex;
  margin-bottom: -38px;
}

.parameter-description {
  margin-left: 25px;
}

.not-found {
  color: #b6b6b6;
}

.found {
  color: #fff;
}

.feedback-button {
  padding: 12px 60px;
  /*margin-top: 24px;
  margin-right: 50px;*/
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #303b81;
}

.noted-button {
  padding: 12px 60px;
  /*margin-top: 24px;
  margin-left: 15px;*/
  color: #303b81;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #303b81;
}

#account-page-buttons {
  display: flex;
  justify-content: space-around;
}
