h1 {
  color: blue;
  text-align: left;
  padding-left: 70px;
  padding-top: 30px;
}

body {
  padding: 0 40px;
  text-align: center;
}

#mobile-app {
  border: 1px solid black;
  max-width: 65%;

  padding: 10px 40px;
}

.status-icons {
  display: inline;
  padding-left: 90px;
}

.time {
  display: inline;
  padding-right: 90px;
}

.profile-pic-one {
  width: 75px;
  height: 75px;
  border: 5px solid black;
  border-radius: 60px;
  display: flex;
}

.dashboard-profile {
  text-align: left;
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
  border-radius: 10px;
  margin-top: 10px;
  padding: 30px;
  color: white;
}

.instagram-icon {
  display: inline;
}

.profile-name {
  display: flex;
  justify-content: flex-end;
}

.sub-headings {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.percentages {
  display: flex;
  justify-content: space-around;
}
